* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header,
section,
footer {
    width: 1024px;
    display: inline-block;
}


/* ========START HEADER======== */


header {
    background: #222222;
}


header .dark-box {
    color: #F3F3F3;
    display: flex;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    justify-content: space-between;
}

header>div>ul {
    list-style: none;
    margin-right: 52px
}

header>div>ul>li {
    display: inline-block;
}


header .dark-box .text-dark-box {
    display: inline-block;
    font-family: Roboto;
    margin-left: 90px;
}

.i-dark-box {
    font-size: 10px;

}

.header-box {
    background: #F0A83E;
    display: flex;
    height: 62px;
    line-height: 62px;
    justify-content: space-between;
}

.header-box div {
    display: inline-block;
}


.logo {
    height: 23px;
    margin-left: 58px;
    padding-top: 19px;
    width: 166.38px;
}


nav {
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    margin-right: 40px;
}

nav a {
    padding-left: 23px;
    text-decoration: none;
}

/* =========END HEADER========== */
/* ----------------------------- */
/* ========START BANNER======== */

.banner {
    width: 1025px;
    height: 409px;
    background-image: url('../img/bowl.png');
}

.banner-text {
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
    height: 54px;
    right: 458px;
    line-height: 56px;
    position: absolute;
    text-align: center;
    top: 237px;
    width: 365px;
}

.banner-title {
    font-size: 30px;
    font-weight: 400;
}

.banner-btn {
    background-color: #F0A83E;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font: 16px;
    height: 49px;
    text-decoration: none;
    width: 141px;

}


/* ========END BANNER========== */
/* ============================ */
/* =======START SECTION========= */

h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #3C2313;
}

.product-section {
    background-color: #FFFFFF;
    height: auto;

}

.section-nav a {
    font-size: 15px;
    line-height: 18px;
    color: #666666;

}

.cards {
    height: 312px;
    text-align: center;
    display: inline-block;
}

.product {
    display: inline-block;
    padding: 10px
}





/* =========END SECTION========= */